@font-face {
    font-family: "Rudiment";
    src: url('resources/fonts/Rudiment.ttf');
}

@font-face {
    font-family: "SketchMe";
    src: url('resources/fonts/SketchMe.ttf');
}

@font-face {
    font-family: "QuickPencil";
    src: url('resources/fonts/QuickPencil.ttf');
}

@font-face {
    font-family: "Century Gothic";
    src: url('resources/fonts/CenturyGothic.ttf');
}




* {
    box-sizing: border-box;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

body {
    background-color: #da9561;
    background-size: 100% 100%;
    color: white;

    font-family: "Century Gothic";
    font-weight: bold;
    margin: 0px;

}



.header {
    background-color: #da956180;
    backdrop-filter: blur(10px);
    position: sticky;
    padding: 1em 10%;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 10;
}

.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav {
    list-style-type: none;
    display: flex;
}

.nav li {
    margin-left: 2em;
}

.nav a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.nav a:hover {
    color: #FF0000;
    text-decoration: none;
    text-shadow: 0px 0px 5px #FF0000;
    transition: all 0.2s ease-in-out;
}

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}

.menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        width: 100%;
        background-color: #da9561c2;
        backdrop-filter: blur(10px);
    }

    .navbar .nav {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .navbar .nav li {
        margin: 0;
        padding: 1em;
        text-align: center;
        width: 100%;
    }

    .menu-icon {
        display: block;
        color: white;
    }

    .menu-toggle:checked+.menu-icon+.navbar {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }

    .botbar {
        flex-direction: column !important;
        align-items: center !important;
    }

    .botbar p {
        text-align: end;
    }

    .projcards {
        flex-wrap: wrap !important;
    }

    .oasisos, .ribot {
        width: 100% !important;
        flex-direction: column !important;
        padding: 15px !important;
    }

    .oasisos #text, .ribot #text {
        width: 100% !important;
        margin-left: 0px !important;
    }

    .oasisos img, .ribot img {
            width: 100% !important;
            margin-bottom: 1em;
        }

    .textabout {
        width: 100% !important;
    }

    .presentation {
        flex-direction: column-reverse !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .presentation h1 {
        font-size: 5vh !important;
    }

    .textpresentation {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .textpresentation h1{
        text-align: center;
    }

    #sketch {
        width: 100% !important;
    }

    .aboutcontent {
        flex-direction: column !important;
    }

    .gradient, #pc{
        opacity: 0 !important;
    }

    .gradient, #mobile {
        top: 30px !important;
        opacity: 1 !important;
    }
}



h1 {
    margin: 0px;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 5em;
    margin: 0px;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 2em;
    margin: 0px;
    margin-bottom: 0.5em;
}

p {
    font-size: 1em;
    margin: 0px;
}


.gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(95vh + 19%);
    z-index: -1;
}

.gradient, #pc{
    opacity: 1;
}

.gradient, #mobile {
    opacity: 0;
}

.presentation {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
    padding-bottom: 20vh;

}

.presentation p {
    font-size: 2.5vh;
}

.presentation h1 {
    font-size: 7vh;
}

.textpresentation {
    width: 65%;
}

.presentation .emphasize {
    color: #532d0d;
}

.button {
    transition: all .5s ease 0s;
    background: #713d12;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    margin-top: 20px;
    font-size: 2vh;
    color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}   

.footer {
    background-color: #da9561;
    backdrop-filter: blur(10px);
    position: sticky;
    padding: 1em 10%;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 10;
    margin-top: 50px;
    color: #ffe1c7;
}

.footer svg {
    fill: #ffe1c7;
}

.footer a :hover{
    fill: white;
    color: #FF0000;
    text-decoration: none;
    text-shadow: 0px 0px 5px #FF0000;
}

.botbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.botnav {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-around;
    width: 200px;
}

/*.botnav li {
    margin-left: 1em;
}*/

.botnav a {
    /*padding-bottom: 3px;*/
    color: white;
    text-decoration: none;
}

.botcredits {
    display: flex;
    align-items: center;
}

.botcredits p {
    font-size: 1em;
    padding-left: 1em;
}

.about {
    background: center / cover no-repeat url(resources/paper.png);
    color: #3c3b3d;
    display: flex;
    justify-content: space-around;
}

#sketch {
    width: 45%;
}

.aboutcontent {
    padding-top: clamp(100px, 25vw, 200px);
    padding-bottom: clamp(100px, 25vw, 200px);
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 50vh;
    align-items: center;
}

.textabout {
    width: 45%;
}

.textabout h2 {
    font-family: "QuickPencil";
    font-weight: normal;
}


.textabout p {
    font-size: 2em;
    font-family: "QuickPencil";
    font-weight: normal;
}

.about .emphasize {
    font-weight: bold;
}


.productscontent {
    padding-top: clamp(50px, 25vw, 100px);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    align-items: center;
}

.productscontent h2 {
    font-size: 3em;
}
.productscontent h3 {
    font-size: 2em;
}

.productscontent a {
    width: fit-content;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.oasisos a span {
    color: white;
    font-size: 0.8em;
    margin-left: 1em;
}

.ribot a span {
    color: black;
    font-size: 0.8em;
    margin-left: 1em;
}

.oasisos {
    display: flex;
    min-height: 20em;
    margin: 5px;
    padding: 50px;
    border-radius: 15px;
    background-image: url(resources/oasisosgradient.png);
    background-size: 100% 100%;
    border: 1px solid #523a2f;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.oasisos #text {
    display: flex;
    min-height: 15em;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
    margin-left: 50px;
}

.ribot {
    display: flex;
    min-height: 20em;
    margin: 5px;
    padding: 50px;
    border-radius: 15px;
    background-image: url(resources/ribotgradient.png);
    background-size: 100% 100%;
    border: 1px solid #86e090;
    color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.ribot #text {
    display: flex;
    min-height: 15em;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
    margin-left: 50px;
}

.oasisos p {
    font-size: 1em;
}

.oasisos .smalldesc {
    color: #a79c91;
    font-style: italic;
}

.ribot .smalldesc {
    color: #477642;
    font-style: italic;
}

.projcards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1em;
}

.products .emphasize {
    color: #532d0d;
}


.textproducts h1 {
    font-size: 6vh;
}

.textproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textproducts {
    font-size: 2.5vh;
    text-align: center;
}