@font-face {
    font-family: "Rudiment";
    src: url('resources/fonts/Rudiment.ttf');
}

@font-face {
    font-family: "SketchMe";
    src: url('resources/fonts/SketchMe.ttf');
}

@font-face {
    font-family: "QuickPencil";
    src: url('resources/fonts/QuickPencil.ttf');
}



* {
    box-sizing: border-box;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

body {
    background-color: #da9561;
    background-size: 100% 100%;
    color: white;

    font-family: "Century Gothic";
    font-weight: bold;
    margin: 0px;

}



.header {
    background-color: #da956180;
    backdrop-filter: blur(10px);
    position: sticky;
    padding: 1em 15%;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 10;
}

.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav {
    list-style-type: none;
    display: flex;
}

.nav li {
    margin-left: 2em;
}

.nav a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.nav a:hover {
    color: #FF0000;
    text-decoration: none;
    text-shadow: 0px 0px 5px #FF0000;
    transition: all 0.2s ease-in-out;
}

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}

.menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        width: 100%;
        background-color: rgba(42, 42, 42, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar .nav {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .navbar .nav li {
        margin: 0;
        padding: 1em;
        text-align: center;
        width: 100%;
    }

    .menu-icon {
        display: block;
        color: white;
    }

    .menu-toggle:checked+.menu-icon+.navbar {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }

    .botbar {
        flex-direction: column !important;
        align-items: center !important;
    }
}

h1 {
    font-size: 7vh;
    margin: 0px;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 5em;
    margin: 0px;
    margin-bottom: 0.5em;
}

p {
    font-size: 1em;
    margin: 0px;
}



.presentation {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
    padding-bottom: 20vh;

}

.presentation p {
    font-size: 3vh;
}

.textpresentation {
    width: 65%;
}

.presentation .emphasize {
    color: #9e6437;
}

.footer {
    background-color: #da9561;
    backdrop-filter: blur(10px);
    position: sticky;
    padding: 1em 15% 1em 15%;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 10;
    margin-top: 50px;
}

.botbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.botnav {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-around;
    width: 200px;
}

/*.botnav li {
    margin-left: 1em;
}*/

.botnav a {
    /*padding-bottom: 3px;*/
    color: white;
    text-decoration: none;
}

.botcredits {
    display: flex;
    align-items: center;
}

.botcredits p {
    font-size: 1em;
    padding-left: 1em;
}

.about {
    background: center / cover no-repeat url(resources/paper.png);
    color: black;
}

.aboutcontent {
    padding-top: clamp(100px, 25vw, 200px);
    padding-bottom: clamp(100px, 25vw, 200px);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 50vh;
    align-items: center;
}

.textabout {
    width: 65%;
}

.textabout h2 {
    font-family: "QuickPencil";
    font-weight: normal;
}


.textabout p {
    font-size: 2em;
    font-family: "QuickPencil";
    font-weight: normal;
}

.about .emphasize {
    font-weight: bold;
}